* {
    background-color: white;
    /* background-color: #fca311; */
    /* background-image: url("../images/firepaper5.png"); */
    background-size: 2000px 800px;
    background-position: center top;
    margin: 0;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.wa {
    position: fixed;

    top: 90px;
    left: 500px;

    width: 450px;
    height: 490px;
}

::-webkit-scrollbar {
    width: 0.6vw;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    background-color: #F8334C;
    border-radius: 8px;
}
::-webkit-scrollbar-track {
    background-color: black;
}

.google-sign-in {
    background-image: none;
    width: 100%;
    margin-top: 100px;
}

.master {
    background-color: white ;
}