.chat-room {
    background-color: transparent;
    /* background-image: none; */
    background-position: center top;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.chat-room :hover{
    /* background-color: #F8333C; */
    cursor: pointer;
    font-size: 25px;
    width: 510px;
}

.chat-msg {
    /* background-color: black; */
    background-image: none;
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid black;

    width: 500px;
    height: auto;

    display: flex;
}

.chat-msg :hover{
    background-color: #F8333C;
    width: inherit;
}

.chat-msg img {
    border-radius: 100%;

    width: 60px;
    height: 60px;
    max-width: 60px;
    max-height: 60px;

    margin-left: 10px;
    margin-top: 4px;
}

.chat-msg p {
    background-image: none;
    background-color: inherit;
    margin-left: 15px;
    margin-top: 12px;
    font-size: inherit;
}

.send {
    background-color: #F8333C;
    background-color: #fb8500;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.send-input {
    background-color: white;
    height: 60%;
}

.send-icon {
    margin-left: 10px;
    background-color: white;
    height: 60%;
}