.navbar {
    background-image: none;
    background-color: black;
}

.navbar img {
    width: 60px;
    height: 60px;
    top: 15px;
    
    position: fixed;
    left: 592px;
}

.navbar img :hover {
    background-color: #F8333C;
}

.navbar h1{
    position: fixed;
    top: 0;

    font-size: 45px;
    background-color: black;
    color: white;

    height: 90px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar :hover{
    cursor: pointer;
    color: #F8333C;
}

.navbar :hover{
    cursor: pointer;
    color: #F8333C;
}

.sign-out {
    background-image: none;
    position: fixed;
    background-color: black;
    color: white;
    top: 25px;
    right: 20px;
}