.navbar h1{
    font-size: 45px;
    background-color: #000000;
    background-image: none;
    color: white;

    height: 100px;
    width: 92%;
    margin-top: 0px;
    margin-left: 4%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar :hover{
    cursor: pointer;
    font-size: 45px;
    background-color: #000000;
    color: orange;

    height: 100px;
    width: 92%;
    margin-top: 0px;
    margin-left: 4%;

    display: flex;
    align-items: center;
    justify-content: center;
}