.navbar {
    background-color: black;
}

.navbar h1{
    font-size: 45px;
    background-color: #000000;
    color: white;

    height: 90px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar :hover{
    cursor: pointer;
    color: #F8333C;
}

.sign-out {
    color: white;
    position: absolute;
    top: 30px;
    right: 20px;
}